<div class="small-12">
	<div class="small-8 large-12 text-left">
		<header>
			<h1>
				Hi. I'm <strong>Swaroop Chippada</strong>.
			</h1>
		</header>
		<p>
			And this is <strong>My page</strong>, I'm a passionate software
			developer. I love programming and want to continously learn new
			things and make things easy for simple living. I Developed various
			WEB based applications. I'm Primarily a backend java developer. i
			worked on various frameworks such as Spring, Hibernate, Spring batch,
			GWT and JSF. I have deep knowledge of and experience with the SOLR
			search platform and Mongo DB. My passion towards technology drives me
			more and explore each of the framework and learn its benefits. I
			started this website just for helping people find solutions for
			complex problems.
		</p>
	</div>
</div>
