<div ng-controller="HomeController" class="container">
	<div class="row">
		<h4 style="margin: 0;" class="text-center">LATEST TECH NEWS</h4>
	</div>
	<hr>
	<div class="container-fluid row">
		<div class="col-sm-9">
			<div class="row" ng-repeat="article in articles"
				style="border: 1px solid #E3E5E8;">
				<div class="col-sm-3 col-md-3" ng-if="article.imageUrl"
					style="padding-top: 20px">
					<div class="thumbnail">
						<img ng-src="{{article.imageUrl}}">
					</div>
				</div>
				<div class="col-sm-9 col-md-9" ng-if="article.imageUrl">
					<div class="caption article-grid">
						<h3>
							<a href="#/articlePage/{{article.id}}">{{article.heading}}</a>
						</h3>
						<p>
							<span><i> By {{article.userId}} &nbsp;&nbsp;</i></span> <span><i>
									{{article.publicationDate | date:'dd/MM/yy'}} &nbsp;&nbsp;</i></span>
						</p>
						<div
							ng-bind-html="(article.content | htmlToPlaintext | limitTo:200)+'...'"></div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12" ng-if="!article.imageUrl">
					<div class="caption article-grid">
						<h3>
							<a href="#/articlePage/{{article.id}}">{{article.heading}}</a>
						</h3>
						<p>
							<span><i> By {{article.userId}} &nbsp;&nbsp;</i></span> <span><i>
									{{article.publicationDate | date:'dd/MM/yy'}} &nbsp;&nbsp;</i></span>
						</p>
						<div
							ng-bind-html="(article.content | htmlToPlaintext | limitTo:200)+'...'"></div>
					</div>
				</div>
			</div>

			<nav>
				<ul class="pager">
					<li class="previous" ng-class="{disabled: !previous}"
						ng-click="previousPage()"><a><span aria-hidden="true">&larr;</span>
							Previous</a></li>
					<li class="next" ng-class="{disabled: !next}" ng-click="nextPage()"><a>Next
							<span aria-hidden="true">&rarr;</span>
					</a></li>
				</ul>
			</nav>

		</div>
		<div class="col-sm-3">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="news-grid">
						<h4>Need help in solving any problems ?</h4>
						<button type="button" class="btn btn-default"
							ng-click="openPostModal()">
							<h4>Post your Question now</h4>
						</button>
					</div>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="col-sm-12">
					<h4>Latest News on Gadgets</h4>
					<div class="news-grid" ng-repeat="gadget in gadgets">
						<p>
							<a href="#/articlePage/{{gadget.id}}">{{gadget.heading}}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>