<div ng-controller="SearchController">
	<div class="row column">
		<h4 style="margin: 0;" class="text-center">Search Results</h4>
	</div>
	<hr>
	<div class="row">
		<div class="large-12 columns" style="border-right: 1px solid #E3E5E8;">
			<article>
				<div class="row" ng-repeat="article in articles">
					<div class="large-12 columns">
						<h5>
							<a href="#/articlePage/{{article.id}}">{{article.heading}}</a>
						</h5>
						<p>
							<span><i class="fi-torso"> By {{article.userId}}
									&nbsp;&nbsp;</i></span> <span><i class="fi-calendar">
									{{article.publicationDate | date:'dd/MM/yy'}} &nbsp;&nbsp;</i></span>
						</p>
						<div
							ng-bind-html="(article.content | htmlToPlaintext | limitTo:200)+'...'"></div>
					</div>
					<hr>
				</div>
				<ul class="pagination text-center" role="navigation" aria-label="Pagination">
					<li ng-class="{current: previous}" ng-click="previousPage()">Previous
						<span class="show-for-sr">page</span>
					</li>
					<li ng-class="{current: next}" ng-click="nextPage()">Next <span
						class="show-for-sr">page</span></li>
				</ul>
			</article>
		</div>
	</div>
</div>