<div ng-controller="SearchController" class="container">
	<div class="row">
		<h4 style="margin: 0;" class="text-center">Search Results</h4>
	</div>
	<hr>
	<div class="container row">
		<div class="col-sm-12">
			<div class="row" ng-repeat="article in articles"
				style="border: 1px solid #E3E5E8;">
				<div class="col-sm-2 col-md-2" ng-if="article.imageUrl">
					<div class="thumbnail">
						<img ng-src="{{article.imageUrl}}">
					</div>
				</div>
				<div class="col-sm-10 col-md-10" ng-if="article.imageUrl">
					<div class="caption article-grid">
						<h3>
							<a href="#/articlePage/{{article.id}}">{{article.heading}}</a>
						</h3>
						<p>
							<span><i> By {{article.userId}} &nbsp;&nbsp;</i></span> <span><i>
									{{article.publicationDate | date:'dd/MM/yy'}} &nbsp;&nbsp;</i></span>
						</p>
						<div
							ng-bind-html="(article.content | htmlToPlaintext | limitTo:200)+'...'"></div>
					</div>
				</div>
				<div class="col-sm-12 col-md-12" ng-if="!article.imageUrl">
					<div class="caption article-grid">
						<h3>
							<a href="#/articlePage/{{article.id}}">{{article.heading}}</a>
						</h3>
						<p>
							<span><i> By {{article.userId}} &nbsp;&nbsp;</i></span> <span><i>
									{{article.publicationDate | date:'dd/MM/yy'}} &nbsp;&nbsp;</i></span>
						</p>
						<div
							ng-bind-html="(article.content | htmlToPlaintext | limitTo:200)+'...'"></div>
					</div>
				</div>
			</div>

			<nav>
				<ul class="pager">
					<li class="previous" ng-class="{disabled: !previous}"
						ng-click="previousPage()"><a><span aria-hidden="true">&larr;</span>
							Previous</a></li>
					<li class="next" ng-class="{disabled: !next}" ng-click="nextPage()"><a>Next
							<span aria-hidden="true">&rarr;</span>
					</a></li>
				</ul>
			</nav>

		</div>
	</div>
</div>