/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: auto;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}


.tag-label {
	display: inline-block;
	padding: .33333rem .5rem;
	font-size: 1.2rem;
	line-height: 1;
	white-space: nowrap;
	cursor: default;
	border-radius: 0;
	background: #2199e8;
	color: #fefefe;
	background: #777;
	color: #fefefe;
}

.footer-style {
	background-color: #ebebeb;
	border: 1px solid rgba(10, 10, 10, .25);
	padding: 1rem;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.form-padding40 {
	padding-bottom: 40px;
}

.form-padding50 {
	padding: 50px;
}

.spacer {
	padding: 30px;
}

.social-icons {
	padding-bottom: 5px;
}

.page-layout {
	min-height: 500px;
	padding-left: 150px;
	padding-right: 150px;
}

.page-layout-news {
	min-height: 500px;
}

.java {
	background-color: #00cc00;
}

.spring {
	background-color: #bbbb77;
}

.hibernate {
	background-color: #c65353;
}

.solr {
	background-color: #ffa366;
}

.angular {
	background-color: #66ccff;
}

.mongo {
	background-color: #c68c53;
}

.others {
	background-color: #e6b3cc;
}

.text-transformer {
	text-transform: capitalize;
}

.author {
	font-weight: 600;
	color: #0c67a7;
}

.type-article {
	background: #FFFFFF;
	margin: 0 0 20px 0;
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), transparent 0
		0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
	-moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2), transparent 0 0 0,
		transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), transparent 0 0 0,
		transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media ( min-width : 1100px) {
	.form-margin {
		margin-left: 100px;
	}
}

/* mobile - Small devices CSS goes here */
@media ( max-width : 767px) {
	.btn-search-sm {
		padding-top: 10px;
	}
	.page-layout {
		min-height: 500px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.logout {
	float: right;
	direction: rtl;
	padding-top: 10px;
	padding-right: 27px;
}